<!DOCTYPE html>
{% extends 'layout.html' %}

{% block head %}
{{ script | safe }}
{% endblock %}



{% block divchart %}
<div class="layui-card">
    <div class="layui-card-header"><i class="fa fa-dashboard icon"></i>仪表盘</div>
    <div class="layui-card-body">
        <div id="chart1" style="width: 100%;">
            {{ chart3_html | safe }}
        </div>
    </div>
</div>

{% endblock %}

{% block divanalyse %}
<div class="layui-card">
    <div class="layui-card-header"><i class="fa fa-send icon"></i>分析</div>
    <div class="layui-card-body">
        <p>
            由仪表盘可以看出，这部剧在第4季时候评价达到了顶峰，到了第7季也还不错，但到了第8季的评价就断崖式下跌了，可以很直观感受出这部剧烂尾了。<br><br>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;1. B站最大的优点就是看视频没广告，所以“白嫖”氛围较高，点赞和收藏不需要损失什么，遂占比最高。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;2. 投币所需的硬币虽是免费获得，但由于仓鼠心态和认可度的问题，占比不搞。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;3. 转发较其他操作复杂，且直接复制链接的行为不会计入转发，占比最低。 -->
        </p>
    </div>
</div>
{% endblock %}