<!DOCTYPE html>
{% extends 'layout.html' %}

{% block head %}
{{ script | safe }}
{% endblock %}



{% block divchart %}
<div class="layui-card">
    <div class="layui-card-header"><i class="fa fa-bar-chart icon"></i>综合图</div>
    <div class="layui-card-body">
        <div id="chart1" style="width: 100%;">
            {{ time2 | safe }}
        </div>
    </div>
</div>

{% endblock %}

{% block divanalyse %}
<div class="layui-card">
    <div class="layui-card-header"><i class="fa fa-send icon"></i>分析</div>
    <div class="layui-card-body">
        <p>
            综合展示，权游的剧集每季首播通常都在3月春季首播，只有第七季是七月开始的。从图可以看出，随着剧集的放送，观看的人越来越多，权游也越来越火，而且基本每个月的剧集评价分数相差不多，都属于高分作品<br><br>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;1. B站最大的优点就是看视频没广告，所以“白嫖”氛围较高，点赞和收藏不需要损失什么，遂占比最高。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;2. 投币所需的硬币虽是免费获得，但由于仓鼠心态和认可度的问题，占比不搞。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;3. 转发较其他操作复杂，且直接复制链接的行为不会计入转发，占比最低。 -->
        </p>
    </div>
</div>
{% endblock %}